<div class="head">
    <button (click)="addList()" mat-raised-button color="secondary">Add List</button>
</div>

<div class="list-container" cdkDropListGroup>
    <div *ngFor="let list of lists;let idx = index" >
        <div class="container">
            <div class="container__list" cdkDropList [cdkDropListData]="list.items" (cdkDropListDropped)="drop($event,idx)">
                <button class="cross" (click)="removeC(idx)">X</button>
                <mat-card class="container__list-item" *ngFor="let item of list.items;let tdx = index" cdkDrag>
                    <mat-card-content>
                        <app-card (removeT)='removeCard($event)' [idx]="idx" [tdx]="tdx" [item]="item.item" [date]="item.createdAt"></app-card>
                    </mat-card-content>
                </mat-card>
            </div>
            <form #newItemForm="ngForm" (ngSubmit)="onSubmit(newItemForm, idx)">
                <mat-form-field>
                    <input matInput name="newItem" ngModel type="text" placeholder="Enter a new item" required>
                </mat-form-field>
                <button mat-raised-button type="submit" color="accent" [disabled]="!newItemForm.valid">Add Item</button>
            </form>
        </div>
    </div>
</div>
